# Puerto del servidor
PORT=25565

# Configuración de Minecraft
MINECRAFT_VERSION=latest
MINECRAFT_TYPE=FORGE
FORGE_VERSION=21.1.219

# Información del servidor
MINECRAFT_SERVER_NAME=Minecraft Server
MINECRAFT_MOTD=Minecraft Server powered by §aCoolify§r

# Configuración de juego
MINECRAFT_DIFFICULTY=normal
MINECRAFT_MAX_PLAYERS=10
MINECRAFT_MAX_WORLD_SIZE=10000
MINECRAFT_VIEW_DISTANCE=10
MINECRAFT_GAME_MODE=survival
MINECRAFT_FORCE_GAMEMODE=false
MINECRAFT_PVP=true
MINECRAFT_HARDCORE=false

# Configuración de mundo
MINECRAFT_ALLOW_NETHER=true
MINECRAFT_GENERATE_STRUCTURES=true
MINECRAFT_MAX_BUILD_HEIGHT=256
MINECRAFT_MAX_TICK_TIME=60000

# Configuración de spawn
MINECRAFT_SPAWN_ANIMALS=true
MINECRAFT_SPAWN_MONSTERS=true
MINECRAFT_SPAWN_NPCS=true
MINECRAFT_ANNOUNCE_PLAYER_ACHIEVEMENTS=true

# Configuración técnica
MINECRAFT_ONLINE_MODE=true
MINECRAFT_PLAYER_IDLE_TIMEOUT=0
MINECRAFT_SNOOPER_ENABLED=false
MINECRAFT_ENABLE_COMMAND_BLOCK=false
MINECRAFT_GUI=false
MINECRAFT_ENABLE_AUTOPAUSE=false

# Configuración de memoria
MINECRAFT_INIT_MEMORY=256M
MINECRAFT_MAX_MEMORY=1G

# RCON y API
SERVICE_PASSWORD_RCON=rconpassword
CF_API_KEY=123
